.packages {
  height: 100vh;
  background: var(--clr-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-column-gap: 5rem;
  justify-content: center;
  align-content: center;
  padding: 5rem 5rem 5rem 5rem;
}

.packages-header {
  grid-row: 1 / 2;
  grid-column: 1 / span 3;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--clr-white);
}

.card {
  height: 31rem;
  width: 20rem;
  background: white;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  border: 2px solid var(--clr-bg);
  padding: 0.5rem;
}

.card-backheading {
  margin-top: 1rem;
  text-align: center;
  color: var(--clr-black);
}

.image-box {
  width: 100%;
  height: 2rem;
  display: block;
  justify-items: center;
}

.card-image {
  width: 100%;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-black);
  margin-top: 17rem;
}

.card-price {
  color: var(--clr-red-dark);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid var(--clr-red-dark);
  border-bottom: 1px solid var(--clr-red-dark);
}

.card-item {
  display: flex;
  align-content: center;
}

.card-list {
  list-style-type: none;
  color: var(--clr-black);
}
.card-icon {
  display: inline-block;
  font-size: 0.9rem;
}
.card-detail {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.btn-flip {
  text-transform: uppercase;
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
  height: 3rem;
  width: 60%;
  align-self: center;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--dark-shadow);
  transition: all 0.5s ease-in;
}

.btn-flip:hover {
  background-color: var(--clr-primary-3);
}
